<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>redis-manager</title>
    <link rel="stylesheet" href="../static/plugins/element-ui/index.2.4.11.css"
          th:href="@{plugins/element-ui/index.2.4.11.css}">
    <script th:src="@{plugins/vue/vue.2.5.21.js}" src="../static/plugins/vue/vue.2.5.21.js"></script>
    <script th:src="@{plugins/element-ui/index.2.4.11.js}" src="../static/plugins/element-ui/index.2.4.11.js"></script>
    <script src="../static/plugins/axios/axios.min.js" th:src="@{plugins/axios/axios.min.js}"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        html, body, #app {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu @open="handleOpen" @select="handleSelect">
                <el-submenu :index="serverIndex+''" v-for="(server,serverIndex) in serverList" :key="serverIndex">
                    <template slot="title"><i class="el-icon-message"></i>{{server.name}}</template>
                    <template v-for="(keyCount,dbIndex) in server.dbList">
                        <el-menu-item :index="server.name+'-'+dbIndex+'-'+keyCount" :key="dbIndex">
                            {{'db'+dbIndex+' ('+keyCount+')'}}
                        </el-menu-item>
                    </template>
                </el-submenu>
            </el-menu>
        </el-aside>
        <el-container style="height: 100%;">
            <el-header style="text-align: right; font-size: 12px">
                <el-button type="primary" @click="addServerVisible = true">添加redis</el-button>
                <el-button type="primary">删除redis</el-button>
                <el-button type="primary">修改redis</el-button>
            </el-header>
            <el-main style="height: 100%;">
                <el-row :gutter="20" style="height: 100%;">
                    <el-col :span="4" style="height: 100%;overflow: auto">
                        <el-tree :data="keys" :props="defaultProps" check-on-click-node
                                 @node-click="handleNodeClick"></el-tree>
                    </el-col>
                    <el-col :span="20" style="height: 100%;overflow: auto">
                        <el-form>
                            <el-row :gutter="10">
                                <el-col :span="10">
                                    <el-form-item :label="keyType+':'">
                                        <el-col :span="18">
                                            <el-input v-model="keyName"></el-input>
                                        </el-col>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="2">
                                    <el-form-item label="TTL:">
                                        <span>-1</span>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="2">
                                    <el-form-item>
                                        <el-button>Rename</el-button>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="2">
                                    <el-form-item>
                                        <el-button>Delete</el-button>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="2">
                                    <el-form-item>
                                        <el-button>Reload</el-button>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="2">
                                    <el-form-item>
                                        <el-button>Set TTL</el-button>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="2">
                                    <el-form-item>
                                        <el-button @click="addKeyVisible=true">Add Key</el-button>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <el-row>

                            <el-form>
                                <el-col :span="12">
                                    <el-form-item>
                                        Value:
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item>
                                        View as:
                                        <template>
                                            <el-select v-model="viewType">
                                                <el-option
                                                        v-for="item in viewTypeItem"
                                                        :key="item"
                                                        :label="item"
                                                        :value="item">
                                                </el-option>
                                            </el-select>
                                        </template>
                                    </el-form-item>
                                </el-col>
                            </el-form>


                        </el-row>
                        <el-row>
                            <el-input rows="15" type="textarea" v-model="value"></el-input>
                        </el-row>
                        <el-row style="margin-top: 20px;">
                            <el-button type="primary" style="position: relative;right:0;">Save</el-button>
                        </el-row>
                        <!-- <el-row style="height: 30%;">
                             <el-input rows="8" type="textarea" v-model="value"></el-input>
                         </el-row>-->
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </el-container>
    <el-dialog title="添加Redis连接" :visible.sync="addServerVisible">
        <el-form :model="server">
            <el-form-item label="连接名称" :label-width="formLabelWidth">
                <el-input v-model="server.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="host" :label-width="formLabelWidth">
                <el-input v-model="server.host" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="端口" :label-width="formLabelWidth">
                <el-input v-model="server.port" type="number" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" :label-width="formLabelWidth">
                <el-input v-model="server.auth" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="success" @click="testConnection()">测试连接</el-button>
            <el-button type="primary" @click="addServer()">确 定</el-button>
            <el-button @click="addServerVisible = false">取 消</el-button>
        </div>
    </el-dialog>
    <el-dialog title="Add New Key" :visible.sync="addKeyVisible">
        <el-form :model="server">
            <el-form-item label="名称" :label-width="formLabelWidth">
                <el-input v-model="key.keyName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="数据库" :label-width="formLabelWidth">
                <el-select v-model="key.dbIndex" placeholder="数据库">
                    <el-option label="0" value="0"></el-option>
                    <el-option label="1" value="1"></el-option>
                    <el-option label="2" value="2"></el-option>
                    <el-option label="3" value="3"></el-option>
                    <el-option label="4" value="4"></el-option>
                    <el-option label="5" value="5"></el-option>
                    <el-option label="6" value="6"></el-option>
                    <el-option label="7" value="7"></el-option>
                    <el-option label="8" value="8"></el-option>
                    <el-option label="9" value="9"></el-option>
                    <el-option label="10" value="10"></el-option>
                    <el-option label="11" value="11"></el-option>
                    <el-option label="12" value="12"></el-option>
                    <el-option label="13" value="13"></el-option>
                    <el-option label="14" value="14"></el-option>
                    <el-option label="15" value="15"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="类型" :label-width="formLabelWidth">
                <el-select v-model="key.keyType" placeholder="类型">
                    <el-option label="STRING" value="string"></el-option>
                    <el-option label="LIST" value="list"></el-option>
                    <el-option label="SET" value="set"></el-option>
                    <el-option label="ZSET" value="zset"></el-option>
                    <el-option label="HASH" value="hash"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item v-if="key.keyType=='string'||key.keyType=='set'||key.keyType=='list'" label="值"
                          :label-width="formLabelWidth">
                <el-input type="textarea" v-model="key.keyValue"
                          autocomplete="off"></el-input>
                <template v-if="key.keyType=='list'">
                    <el-input type="textarea" style="width:90%;" autocomplete="off"></el-input>
                    <i class="el-icon-plus"></i>
                    <el-input type="textarea" style="width:90%;" autocomplete="off"></el-input>
                    <i class="el-icon-plus"></i>
                    <el-input type="textarea" style="width:90%;" autocomplete="off"></el-input>
                    <i class="el-icon-plus"></i>
                </template>

            </el-form-item>
            <template v-if="key.keyType=='zset'">
                <el-form-item label="Score" :label-width="formLabelWidth">
                    <el-input v-model="key.score" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="值" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="key.keyValue" autocomplete="off"></el-input>
                </el-form-item>
            </template>

            <template v-if="key.keyType=='hash'">
                <el-form-item label="Key" v-model="key.key" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="key.key" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Value" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="key.val" autocomplete="off"></el-input>
                </el-form-item>

            </template>


        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="addKey()">保 存</el-button>
            <el-button @click="addKeyVisible = false">取 消</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            head: 'headersss',
            main: 'main',
            aside: 'Aside',
            keyName: 'redisKey',
            value: '这是value',
            dbIndex: 0,
            serverName: '',
            viewType: 'JSON',
            viewTypeItem: ['JSON', 'TEXT'],
            keyType: 'string',
            addServerVisible: false,
            addKeyVisible: false,
            server: {
                name: '',
                host: '',
                port: 6379,
                auth: ''
            },
            key: {
                keyType: 'string',
                keyName: '',
                dbIndex: this.dbIndex,
                score: null,
                keyValue: null
            },
            formLabelWidth: '120px',
            serverKeys: [],
            serverList: [],
            keys: [{
                label: '一级 1',
                index: '1-1',
                children: [{
                    label: '二级 1-1',
                    index: '1-2',
                    children: [{
                        label: '三级 1-1-1',
                        index: '1-3',
                    }]
                }]
            }],
            defaultProps: {
                children: 'children',
                label: 'label'
            },
        },
        created() {
            console.log('created')
        },
        mounted() {
            // console.log('mounted')
            this.getServerList();
        },
        methods: {
            addServer() {
                axios.post('/server', this.server)
                    .then((response) => {
                        this.$message({
                            message: response.data.message,
                            type: response.data.flag ? 'success' : 'error'
                        });
                        //console.log(response);
                        if (response.data.flag) {
                            this.serverList.push(this.server)
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                this.addServerVisible = false;
                // this.clearServer();
            },
            clearServer() {
                this.server = {
                    name: '',
                    host: '',
                    port: 6379,
                    auth: ''
                }
            },
            ping() {
                axios.post('/ping', this.server)
                    .then((response) => {
                        this.$message({
                            message: response.data.message,
                            type: response.data.flag ? 'success' : 'error'
                        });
                    })
                    .catch((error) => {
                        console.log(error);
                        this.$message({
                            message: error,
                            type: 'error'
                        });
                    });
            },
            getServerList() {
                axios.get('/server', this.server)
                    .then((response) => {
                        // this.serverList = response.data.data;
                        this.serverList = response.data.data;
                        console.log('----------getServer-------------');
                        console.log(response.data.data);
                        this.serverList.forEach((item) => {
                            this.$set(item, 'dbList', []);
                            this.$set(item, 'firstOpen', true);
                        });
                        this.$message({
                            message: response.data.message,
                            type: response.data.flag ? 'success' : 'error'
                        });
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getKey(servername, dbIndex) {
                axios.get(`/key/${servername}/${dbIndex}`, this.server)
                    .then((res) => {
                        if (res.data.flag) {
                            this.keys = res.data.data;
                        }
                        console.log(res);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getKeyCount(server) {
                axios.get('/keyCount/' + server.name)
                    .then((res) => {
                        if (res.data.flag) {
                            server['dbList'] = res.data.data;
                            server['firstOpen'] = false;
                        }
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag ? 'success' : 'error'
                        });
                        console.log(res);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            handleOpen(index, indexPath) {
                console.log('open--->' + index + '<--->' + indexPath);
                if (index.indexOf('-') > -1) {
                    //open---10.216.115.188-1---1,10.216.115.188-1
                    //this.getKey()
                } else {
                    let server = this.serverList[parseInt(index)];
                    console.log(JSON.stringify(server));
                    let firstOpen = server['firstOpen'];
                    if (firstOpen) {
                        this.getKeyCount(server)
                    }
                }
            },
            handleSelect(index, indexPath) {
                let indexs = index.split('-');
                console.log('index--' + indexs.length + '<---->' + indexs);
                if (indexs.length === 3) {
                    let keyCount = indexs[2];
                    let dbindex = indexs[1];
                    this.dbIndex = dbindex;
                    this.key.dbIndex = dbindex;
                    let serverName = indexs[0];
                    this.serverName = serverName;
                    console.log('select-->' + index + '---' + indexPath);
                    console.log('select dbindex-->' + dbindex + '<--->' + serverName);
                    this.getKey(serverName, dbindex);
                }
            },
            getValue(serverName, dbIndex, key, type) {
                axios.get(`/key/${serverName}/${dbIndex}/${key}`)
                    .then((res) => {
                        if (res.data.flag) {
                            let value = res.data.data;
                            if (type === 'STRING') {
                                this.value = JSON.stringify(JSON.parse(value), null, 2)
                            }
                        }
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag ? 'success' : 'error'
                        });
                        console.log(res);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            handleNodeClick(data) {
                console.log(data);
                let index = data.index;
                let key = data.label;
                let serverName = index.split(":")[0];
                let dbIndex = index.split(":")[1];
                this.keyType = data.type;
                this.keyName = key;
                this.getValue(serverName, dbIndex, key, this.keyType);
            },
            addKey() {
                axios.post(`/key/${this.serverName}`, this.key)
                    .then((response) => {
                        this.$message({
                            message: response.data.message,
                            type: response.data.flag ? 'success' : 'error'
                        });
                        //console.log(response);
                        if (response.data.flag) {
                            this.serverList.push(this.server)
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                this.addKeyVisible = false;
            },
        }
    })
</script>
</html>